@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Code:wght@300..700&display=swap");

footer,
header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    height: 80vh;
    background-image: url("./imgs/background.jpg");
    background-size: cover;
    color: white;
}
.header_content {
    background-color: rgba(0, 0, 0, 0.4);
}
.header_content a {
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header_content {
    backdrop-filter: opacity(100%);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#map {
    height: 60vh;
}
